# from scipy.optimize import leastsq
# leastsq(fun,x[],argument) # 最小二乘功能函数

In [1]:
%matplotlib
from scipy.optimize import leastsq
import numpy as np
import pylab as pl

Using matplotlib backend: Qt5Agg

In [2]:
x = np.array([8,2,6,8,4,3,4,8])
y = np.array([7,3,5,7,8,2,6,7])
pl.plot(x,y,'ro')
pl.show()

# 直线模型

In [8]:
def func(p):
    a,b = p   # 拟合参数
    return y-(a*x+b)   # 误差函数
xishu = leastsq(func,[0,0])  # 对误差函数进行最小二乘拟合
print(xishu)

(array([0.5761194 , 2.52835821]), 1)

In [11]:
a,b=xishu[0]
x1 = np.linspace(0,12,120)
y1 = a*x1+b
pl.plot(x1,y1)
pl.show()

In [17]:
%matplotlib
from scipy.optimize import leastsq
import numpy as np
import pylab as pl
x = np.array([8,2,6,8,4,3,4,8])
y = np.array([7,3,5,7,8,2,6,7])
pl.plot(x,y,'ro')
# pl.show()

def func(p):
    a,b,c = p   # 拟合参数
    return y-(a*x**2+b*x+c)   # 误差函数
xishu = leastsq(func,[0,0,0])  # 对误差函数进行最小二乘拟合
print(xishu)

a,b,c=xishu[0]
x1 = np.linspace(0,12,120)
y1 = a*x1**2+b*x1+c
pl.plot(x1,y1)
# pl.show()

Using matplotlib backend: Qt5Agg
(array([-0.16865749,  2.37899247, -1.40664762]), 1)

In [18]:
import pandas as pd 
data = pd.read_csv('book.csv')
data

    序号       y       x   t
0    1   450.0  1027.2   8
1    2   507.7  1045.2   9
2    3   613.9  1225.8  12
3    4   563.4  1312.2   9
4    5   501.5  1316.4   7
5    6   781.5  1442.4  15
6    7   541.8  1641.0   9
7    8   611.1  1768.8  10
8    9  1222.1  1981.2  18
9   10   793.2  1998.6  14
10  11   660.8  2196.0  10
11  12   792.7  2105.4  12
12  13   580.8  2147.4   8
13  14   612.7  2154.0  10
14  15   890.8  2231.4  14
15  16  1121.0  2611.8  18
16  17  1094.2  3143.4  16
17  18  1253.0  3624.6  20

In [1]:
# x = data[:]
# y = data[:]
# pl.plot(x,y,'e')
# pl.show()