In [ ]:
import numpy as np
import statsmodels. api as sm
import pandas as pd
# y=[0.9,1.1,4.8,3.2, 7.8,2.7,1.6,12.5, 1,2.6,0.3,4,0.8,3.5, 10.2, 2,3,0.2,0.4,1,6.8, 11.6, 1.6, 1.2,7.2,3.2]
# x1=[67.3, 111.3, 173, 80.8, 199.3, 7, 16.2, 107.4, 185.4, 4,96.1, 72.3, 8,64.2, 132.5, 2, 58.6, 174.5, 6, 263.5, 79.3]
# x2=[51.9,90.9, 736.9, 7, 14.0, 5,63.2,2.2, 20.2, 43.8,55.9,64.3,42.7, 76.7,22.8, 117.5, 1, 146.6, 7,29.6, 9, 42.1]
# y=np.array([0.9, 1.1,4.8,3.2, 7.8,2.7, 1.6, 12.5, 1,2.6,0.3,4,0.8,3.5, 10.2,3,0.2,0.4, 1,6.8]
# X=np.column_ stack((x1, x2))
# X=sm.add_constant (X)
# model=sm.0LS(y, X)
# results=model.fit ()
# print (results.params)
# results.summary ()

In [30]:
data = pd.read_csv('user_info.csv')
# data

      user_ID  frequence  amount  recently  type
0        1000          2    1985       140     0
1        1002          1     775        86     0
2        1004          1     362        86     0
3        1005          2    1713       120     0
4        1008          1    1336        21     0
5        1009          2    1346        16     0
6        1010          3    3514        55     1
7        1011          3    4112        42     1
8        1012          1     873        36     0
9        1014          2    1040       131     0
10       1017          3    2950        65     1
11       1018          3    3377        98     1
12       1021          3    3147         7     1
13       1023          2    2392        49     1
14       1025          3    2813        69     1
15       1026          1     913        22     0
16       1027          2    1181        41     0
17       1028          3    4091        52     1
18       1029          2    1655        39     0
19       1031          1    1213        47     0
20       1032          5    3450        56     1
21       1033          3    3089        48     1
22       1066          1    1441        88     0
23       1067          3    2227        28     0
24       1069          4    4013        53     1
25       1070          2    1743        90     0
26       1071          2    2174       178     0
27       1075          4    3509        41     1
28       1076          2    1098       174     0
29       1077          2    2384        74     0
...       ...        ...     ...       ...   ...
1917     3818          2    1830        36     0
1918     3819          1     529       175     0
1919     3820          4    3595        98     1
1920     3821          5    4306        32     1
1921     3822          2    1565        26     0
1922     3823          4    3908        12     1
1923     3824          3    2086        77     0
1924     3825          3    1984        34     0
1925     3829          4    4323         4     1
1926     3830          2    1630        65     0
1927     3833          2    1292        71     0
1928     3834          4    3241        11     1
1929     3835         28   24382         9     1
1930     3836          2    1347        64     0
1931     3838          4    4271        74     1
1932     3839          4    3810       106     1
1933     3841          3    2220       155     0
1934     3846          1    1012        99     0
1935      982          3    2110        53     0
1936      983          2    1968        41     0
1937      986          3    2107         1     1
1938      987          3    3608         1     1
1939      988          4    4388       138     1
1940      989          2    1785        10     0
1941      990          2     943        98     0
1942      991          3    4254        50     1
1943      994          2    1816        46     0
1944      995          3    2188        45     1
1945      996          4    2097        59     0
1946      998          1    1015        37     0

[1947 rows x 5 columns]

In [ ]:
y = data['user_ID']
x1 = data['frequence']
x2 = data['amount']
x3 = data['recently']
y = np.array([y])
X = np.column_stack((x1,x2))
X=sm.add_constant (X)
model = sm.OLS(y,X)
results = model.fit()
print(results.params)
results.summary()

In [27]:
# !conda list

In [1]:
import statsmodels.api as sm
import pandas as pd
df = pd.read_csv('user_info.csv')
data  = df[['frequence','amount','recently']]
y = df[['type']]
data['intercept'] = 1.0
model = sm.Logit(y,data)
results = model.fit()
print(results.params)
results.summary2()

F:\Anaconda\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools
F:\Anaconda\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Optimization terminated successfully.
         Current function value: 0.158165
         Iterations 11
frequence     1.223403
amount        0.003968
recently     -0.037036
intercept   -11.288953
dtype: float64

<class 'statsmodels.iolib.summary2.Summary'>
"""
                        Results: Logit
===============================================================
Model:              Logit            Pseudo R-squared: 0.767
Dependent Variable: type             AIC:              623.8962
Date:               2019-11-17 17:43 BIC:              646.1924
No. Observations:   1947             Log-Likelihood:   -307.95
Df Model:           3                LL-Null:          -1319.5
Df Residuals:       1943             LLR p-value:      0.0000
Converged:          1.0000           Scale:            1.0000
No. Iterations:     11.0000
---------------------------------------------------------------
              Coef.   Std.Err.    z     P>|z|   [0.025   0.975]
---------------------------------------------------------------
frequence      1.2234   0.1651   7.4099 0.0000   0.8998  1.5470
amount         0.0040   0.0003  14.6283 0.0000   0.0034  0.0045
recently      -0.0370   0.0034 -10.9555 0.0000  -0.0437 -0.0304
intercept    -11.2890   0.7101 -15.8967 0.0000 -12.6808 -9.8971
===============================================================

"""